<template>
  <a-row type="flex" justify="end">
    <a-col>
      <a-button type="primary" @click="isModalOpen = true">Добавить</a-button>
    </a-col>
  </a-row>

  <a-table style="margin-top: 8px" :dataSource="userList" :columns="columns">
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'fullName'">
        <router-link
          :to="{ name: 'user-tests', params: { userId: record.id } }"
        >
          {{ record.fullName }}
        </router-link>
      </template>
      <template v-if="column.key === 'action'">
        <a-button type="primary" size="small">
          <router-link :to="{ name: 'test', params: { userId: record.id } }">
            Начать тест
          </router-link>
        </a-button>
      </template>
    </template>
  </a-table>

  <a-modal
    v-model:visible="isModalOpen"
    title="Добавить пользователя"
    okText="Сохранить"
    cancelText="Отмена"
    @ok="saveUser"
  >
    <p style="margin-bottom: 4px">ФИО</p>
    <a-input v-model:value="fullName" placeholder="Введите ФИО" />
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import userService from "../services/user.service";

export default defineComponent({
  name: "HomeView",

  setup() {
    const isModalOpen = ref(false);
    const fullName = ref("");
    const userList = ref<any[]>([]);
    const columns = [
      {
        title: "ФИО",
        key: "fullName",
      },
      {
        title: "Действие",
        width: 150,
        key: "action",
      },
    ];

    const getUserList = async () =>
      (userList.value = await userService.getUserList());

    const saveUser = async () => {
      try {
        await userService.createUser({
          fullName: fullName.value,
        });
        await getUserList();
      } catch (error) {
        console.error(error);
      } finally {
        isModalOpen.value = false;
        fullName.value = "";
      }
    };

    onMounted(async () => {
      await getUserList();
    });

    return {
      isModalOpen,
      fullName,
      columns,
      userList,
      saveUser,
    };
  },
});
</script>
