<template>
  <a-row type="flex" justify="end">
    <a-col>
      <a-button type="primary" @click="isModalOpen = true">Добавить</a-button>
    </a-col>
  </a-row>

  <a-table
    style="margin-top: 8px"
    :dataSource="questionList"
    :columns="columns"
    :pagination="{ pageSize: 50 }"
  >
    <template #bodyCell="{ column, record, index }">
      <template v-if="column.key === 'id'">
        {{ record.id }}
      </template>
      <template v-if="column.key === 'question'">
        {{ record.text }}
      </template>
      <template v-if="column.key === 'point'">
        <a-tag
          style="padding: 2px 16px; font-size: 16px"
          :color="getPoint(record.point)?.tagColor"
        >
          {{ getPoint(record.point)?.label }}
        </a-tag>
      </template>
      <template v-if="column.key === 'isActive'">
        <a-switch
          :checked="!questionList[index].disabled"
          @change="(val) => changeQuestionState(val, record.id, index)"
        />
      </template>
    </template>
  </a-table>

  <a-modal
    v-model:visible="isModalOpen"
    title="Добавить вопрос"
    okText="Сохранить"
    cancelText="Отмена"
    @ok="saveQuestion"
  >
    <p style="margin-bottom: 4px">Уровень сложности:</p>
    <a-select
      v-model:value="questionLvl"
      :options="POINT_LIST"
      :fieldNames="name"
      style="width: 100%"
    />

    <p style="margin-bottom: 4px; margin-top: 16px">Вопрос:</p>
    <a-textarea
      v-model:value="questionText"
      placeholder="Введите текст вопроса"
    />

    <p style="margin-bottom: 4px; margin-top: 16px">Ответ:</p>
    <a-textarea
      v-model:value="questionAnswer"
      placeholder="Введите текст ответа"
    />
  </a-modal>
</template>

<script lang="ts">
import { POINT_LIST } from "@/const";
import { getPoint } from "@/tools/helper";
import { defineComponent, onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import questionService from "../services/question.service";

export default defineComponent({
  name: "QuestionsView",

  setup() {
    const route = useRoute();
    const isModalOpen = ref(false);
    const questionText = ref("");
    const questionAnswer = ref("");
    const questionLvl = ref(POINT_LIST[0].value);
    const questionList = ref<any[]>([]);
    const columns = [
      {
        title: "ID",
        key: "id",
        width: 60,
      },
      {
        title: "Вопрос",
        key: "question",
      },
      {
        title: "Уровень сложности",
        key: "point",
      },
      {
        title: "Активен",
        key: "isActive",
        width: 150,
      },
    ];

    const getQuestionList = async () => {
      questionList.value = await questionService.getQuestionList({
        topicId: route.params.topicId,
        _sort: "id",
        _order: "desc",
      });
    };
    const changeQuestionState = (val: boolean, id: number, index: number) => {
      questionList.value[index].disabled = !val;
      questionService.updateQuestion(id, {
        disabled: !val,
      });
    };

    const saveQuestion = async () => {
      try {
        await questionService.createQuestion({
          text: questionText.value,
          answer: questionAnswer.value,
          point: questionLvl.value,
          topicId: +route.params.topicId,
          disabled: false,
        });
        await getQuestionList();
      } catch (error) {
        console.error(error);
      } finally {
        isModalOpen.value = false;
        questionText.value = "";
      }
    };

    onMounted(async () => {
      await getQuestionList();
    });

    return {
      isModalOpen,
      questionText,
      questionAnswer,
      questionLvl,
      columns,
      questionList,
      POINT_LIST,
      saveQuestion,
      changeQuestionState,
      getPoint,
    };
  },
});
</script>
