<template>
  <div>
    <a-tabs v-model:activeKey="activeKey">
      <a-tab-pane key="1" tab="Hard skills">
        <hard-skills
          :data="hardSkillsData"
          @clear-answer="clearAnswer"
          @add-answer="addAnswer"
        />
      </a-tab-pane>
      <a-tab-pane key="2" tab="Tech skills">
        <tech-skills :data="techSkillsData" />
      </a-tab-pane>
      <a-tab-pane key="3" tab="Soft skills">
        <a-textarea
          style="margin-bottom: 16px"
          v-model:value="softSkillsText"
          placeholder="Введите текст"
        />
      </a-tab-pane>
    </a-tabs>

    <div style="display: flex; justify-content: flex-end">
      <a-button type="primary" size="large" @click="save">
        {{ isUpdate ? "Обновить" : "Завершить" }}
      </a-button>
    </div>
  </div>
</template>

<script lang="ts">
import HardSkills from "@/components/HardSkills.vue";
import { defineComponent, onMounted, ref } from "vue";
import testService from "@/services/test.service";
import { useRoute, useRouter } from "vue-router";
import questionService from "@/services/question.service";
import topicService from "@/services/topic.service";
import TechSkills from "@/components/TechSkills.vue";
import { TECH_SKILLS_DATA } from "@/const";

export default defineComponent({
  name: "TestView",

  components: { HardSkills, TechSkills },

  setup() {
    const route = useRoute();
    const router = useRouter();
    const hardSkillsData = ref<any[]>([]);
    const techSkillsData = ref<any[]>(TECH_SKILLS_DATA);
    const softSkillsText = ref("");
    const test = ref();
    const testId = route.params?.testId ? +route.params.testId : undefined;
    const userId = route.params?.userId ? +route.params.userId : undefined;
    const isUpdate = !!testId;

    onMounted(async () => {
      if (testId) {
        test.value = await testService.getTest(+route.params.testId);
        console.log(test.value);
        softSkillsText.value = test.value.softSkills;
      }

      let topicList: any[] = [];
      topicList = await topicService.getTopicList({
        disabled: false,
      });

      let questionList: any[] = [];
      questionList = await questionService.getQuestionList({
        topicId: topicList.map((t) => t.id),
        disabled: false,
      });

      hardSkillsData.value = topicList.map((t) => {
        let questions = questionList.filter((q) => q.topicId === t.id);

        if (test.value) {
          questions = questions.map((q) => {
            const answer = (test.value.hardSkills as any[])?.find(
              (el) => el.id === q.id
            )?.answer;

            return {
              ...q,
              answer: answer || answer === 0 ? answer : undefined,
            };
          });
        }

        return {
          ...t,
          questions: questions,
        };
      });
    });

    const addAnswer = ({ val, itemIndex, questionIndex }: any) => {
      console.log("val", val);
      hardSkillsData.value[itemIndex].questions[questionIndex].answer = val;
    };

    const clearAnswer = ({ itemIndex, questionIndex }: any) => {
      hardSkillsData.value[itemIndex].questions[questionIndex].answer =
        undefined;
    };

    const save = async () => {
      let questions = hardSkillsData.value.reduce((acc, el) => {
        return [
          ...acc,
          ...el.questions
            .filter((q: any) => q.answer !== undefined)
            .map((q: any) => ({ id: q.id, answer: q.answer })),
        ];
      }, []);

      const params = {
        userId: userId,
        createdAt: new Date().toLocaleString(),
        hardSkills: questions,
        softSkills: softSkillsText.value,
      };

      if (isUpdate) {
        await testService.updateTest(testId, params);
        router.push({
          name: "user-tests",
          params: { userId: userId },
        });
      } else {
        await testService.createTest(params);
        router.push({ name: "home" });
      }
    };

    return {
      softSkillsText,
      isUpdate,
      hardSkillsData,
      techSkillsData,
      clearAnswer,
      addAnswer,
      save,
    };
  },
});
</script>
