<template>
  <a-row type="flex" justify="end">
    <a-col>
      <a-button type="primary" @click="isModalOpen = true">Добавить</a-button>
    </a-col>
  </a-row>

  <a-table style="margin-top: 8px" :dataSource="topicList" :columns="columns">
    <template #bodyCell="{ column, record, index }">
      <template v-if="column.key === 'topic'">
        <router-link
          :to="{ name: 'questions', params: { topicId: record.id } }"
          >{{ record.name }}</router-link
        >
      </template>
      <template v-if="column.key === 'isActive'">
        <a-switch
          :checked="!topicList[index].disabled"
          @change="(val) => changeTopicState(val, record.id, index)"
        />
      </template>
    </template>
  </a-table>

  <a-modal
    v-model:visible="isModalOpen"
    title="Добавить тему"
    okText="Сохранить"
    cancelText="Отмена"
    @ok="saveTopic"
  >
    <p style="margin-bottom: 4px">Название темы</p>
    <a-input v-model:value="topicName" placeholder="Введите название темы" />
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import topicService from "../services/topic.service";

export default defineComponent({
  name: "TopicsView",

  setup() {
    const isModalOpen = ref(false);
    const topicName = ref("");
    const topicList = ref<any[]>([]);
    const columns = [
      {
        title: "Тема",
        key: "topic",
      },
      {
        title: "Активна",
        width: 150,
        key: "isActive",
      },
    ];

    const getTopicList = async () =>
      (topicList.value = await topicService.getTopicList());

    const changeTopicState = (val: boolean, id: number, index: number) => {
      topicList.value[index].disabled = !val;
      topicService.updateTopic(id, {
        disabled: !val,
      });
    };

    const saveTopic = async () => {
      try {
        await topicService.createTopic({
          name: topicName.value,
          disabled: false,
          questions: [],
        });
        await getTopicList();
      } catch (error) {
        console.error(error);
      } finally {
        isModalOpen.value = false;
        topicName.value = "";
      }
    };

    onMounted(async () => {
      await getTopicList();
    });

    return {
      isModalOpen,
      topicName,
      columns,
      topicList,
      saveTopic,
      changeTopicState,
    };
  },
});
</script>
