<template>
  <div>
    <p style="font-size: 24px">Hard skills: {{ getHardSkillsGrade }}</p>
    <p style="font-size: 24px">Tech skills: -</p>
    <p style="font-size: 24px">Soft skills: -</p>
  </div>
</template>

<script lang="ts">
import { ANSWER_LIST, GRADE_LIST } from "@/const";
import questionService from "@/services/question.service";
import testService from "@/services/test.service";
import topicService from "@/services/topic.service";
import { getPoint } from "@/tools/helper";
import { computed, defineComponent, onMounted, ref } from "vue";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
  name: "UserTestView",

  setup() {
    const route = useRoute();
    const testId = route.params.testId as string;
    const hardSkills = ref<any>();

    onMounted(async () => {
      let data = await testService.getTest(+testId);
      await getHardSkillsData(data);
    });

    const getHardSkillsData = async (data: any) => {
      const questions = await questionService.getQuestionList({
        id: data?.hardSkills?.map((el: any) => el.id),
      });

      data = {
        ...data,
        questions: data.hardSkills.map((el: any) => {
          const questionInfo = questions.find((q: any) => q.id === el.id);

          return {
            ...questionInfo,
            ...el,
          };
        }),
      };

      hardSkills.value = data;
      console.log("test", hardSkills.value);
    };

    const getHardSkillsGrade = computed(() => {
      const data: any = {};
      let points = 0;

      hardSkills.value?.questions?.forEach((question: any) => {
        if (data[question.point]) {
          data[question.point].questions.push(question);
          data[question.point].maxPoints += question.point;
          data[question.point].currentPoints =
            data[question.point].currentPoints +
            (+question.point / (ANSWER_LIST.length - 1)) * +question.answer;
        } else {
          data[question.point] = {
            maxPoints: question.point,
            currentPoints:
              (+question.point / (ANSWER_LIST.length - 1)) * +question.answer,
            questions: [],
          };
          data[question.point].questions.push(question);
        }
      });

      const arr = [data[1], data[2], data[3]];
      arr.forEach((el, index) => {
        points +=
          ((100 * el?.currentPoints || 0) / el?.maxPoints || 0) * (index + 1);
      });

      const range = 602 / GRADE_LIST.length;
      const result = Math.floor(points / range);
      const gradeIndex = result === GRADE_LIST.length ? result - 1 : result;

      return GRADE_LIST[gradeIndex]?.label;
    });

    return {
      getHardSkillsGrade,
      ANSWER_LIST,
      getPoint,
    };
  },
});
</script>
