<template>
  <a-row type="flex" justify="end">
    <a-col>
      <a-button type="primary" @click="isModalOpen = true">Добавить</a-button>
    </a-col>
  </a-row>

  <a-table style="margin-top: 8px" :dataSource="testList" :columns="columns">
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'id'">
        <router-link
          :to="{ name: 'user-test-result', params: { testId: record.id } }"
        >
          {{ record.id }}
        </router-link>
      </template>
      <template v-if="column.key === 'createdAt'">
        {{ record.createdAt }}
      </template>
      <template v-if="column.key === 'action'">
        <a-button type="primary">
          <router-link
            :to="{
              name: 'test-update',
              params: { userId: route.params.userId, testId: record.id },
            }"
          >
            Редактировать
          </router-link>
        </a-button>
      </template>
    </template>
  </a-table>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import testService from "../services/test.service";

export default defineComponent({
  name: "UserTestsView",

  setup() {
    const route = useRoute();
    const testList = ref<any[]>([]);
    const columns = [
      {
        title: "ID",
        key: "id",
      },
      {
        title: "Дата создания",
        key: "createdAt",
        width: 200,
      },
      {
        title: "",
        key: "action",
        width: 160,
      },
    ];

    const getTestList = async () =>
      (testList.value = await testService.getTestList({
        userId: route.params.userId,
      }));

    onMounted(async () => {
      await getTestList();
    });

    return {
      route,
      columns,
      testList,
    };
  },
});
</script>
