<template>
  <div>
    <div
      v-for="(item, itemIndex) in data"
      :key="itemIndex"
      style="margin-bottom: 32px"
    >
      <p style="font-size: 32px; margin-bottom: 8px">{{ item.name }}</p>
      <div
        v-for="(question, questionIndex) in item.questions"
        :key="questionIndex"
      >
        <a-alert type="info">
          <template #message>
            {{ `${questionIndex + 1}. ${question.text}` }}
            <a-tag
              :color="getPoint(question.point)?.tagColor"
              style="margin-left: 8px"
            >
              <span style="font-size: 14px">{{
                getPoint(question.point)?.label
              }}</span>
            </a-tag>
          </template>
        </a-alert>
        <a-row justify="space-between" align="middle">
          <a-col>
            <a-radio-group
              :value="data[itemIndex].questions[questionIndex].answer"
              style="margin-top: 16px; margin-bottom: 16px"
              @update:value="
                (val) => $emit('add-answer', { itemIndex, questionIndex, val })
              "
            >
              <a-radio
                v-for="(item, index) in ANSWER_LIST"
                :key="index"
                :value="item.value"
                style="padding: 0 8px"
              >
                {{ item.label }}
              </a-radio>
            </a-radio-group>
          </a-col>
          <a-col>
            <a-button
              @click="$emit('clear-answer', { itemIndex, questionIndex })"
            >
              Сбросить
            </a-button>
          </a-col>
        </a-row>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { ANSWER_LIST } from "@/const";
import { getPoint } from "@/tools/helper";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "HardSkills",

  props: {
    data: Array as PropType<any[]>,
  },

  setup() {
    return {
      ANSWER_LIST,
      getPoint,
    };
  },
});
</script>
