<template>
  <div>
    <div
      v-for="(item, itemIndex) in data"
      :key="itemIndex"
      style="margin-bottom: 32px"
    >
      <p style="font-size: 16px; margin-bottom: 8px">
        {{ itemIndex + 1 }}. {{ item.title }}
      </p>
      <a-alert type="info">
        <template #message>
          {{ item.description }}
        </template>
      </a-alert>

      <a-alert style="margin-top: 8px" type="success">
        <template #message>
          <p
            v-for="(example, exampleIndex) in item.examples"
            :key="exampleIndex"
          >
            {{ example.description }}
          </p>
        </template>
      </a-alert>

      <a-radio-group style="margin-top: 16px; margin-bottom: 16px">
        <a-radio
          v-for="(answer, answerIndex) in item.answers"
          :key="answerIndex"
          :value="item.value"
          style="width: 100%; padding: 4px 8px"
        >
          {{ answer.title }}
        </a-radio>
      </a-radio-group>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "TechSkills",

  props: {
    data: Array as PropType<any[]>,
  },

  setup() {
    return {};
  },
});
</script>
