<template>
  <a-layout class="layout">
    <a-layout-header>
      <a-menu
        :selectedKeys="selectedKeys"
        theme="dark"
        mode="horizontal"
        :style="{ lineHeight: '64px' }"
      >
        <a-menu-item key="home">
          <router-link :to="{ name: 'home' }">Пользователи</router-link>
        </a-menu-item>
        <a-menu-item key="topics">
          <router-link :to="{ name: 'topics' }">Темы</router-link>
        </a-menu-item>
      </a-menu>
    </a-layout-header>

    <a-layout-content style="padding: 50px 50px">
      <div :style="{ background: '#fff', padding: '24px', minHeight: '280px' }">
        <router-view />
      </div>
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import { useRoute } from "vue-router";

export default defineComponent({
  setup() {
    const route = useRoute();
    const selectedKeys = computed(() => [route.name]);
    return { selectedKeys };
  },
});
</script>
